:root {
  --primary-color: #e50914;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: "Netflix sans", "Arial", sans-serif;
}

/*fonts*/
.font-large {
  font-size: 48px;
}

.font-medium {
  font-size: 26px;
  font-weight: normal;
}

.font-small {
  font-size: 16px;
}

.font-ssmall {
  font-size: 20px;
}

.class-bold {
  font-weight: bold;
}

.font-xlarge {
  font-size: 65px;
  color: #fff;
}
/*font ends here*/

/*button*/
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.btn-icon {
  margin-left: 0.5rem;
}

.btn-xl {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: 0.1rem;
  padding: 0 0.5rem;
  height: 60px;
  /* font-size: 20px; */
}
/*button ends here*/

/*header section*/

/*header section classes*/
.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/main-background.jpg") no-repeat center center/cover;
  border-bottom: 8px solid #222;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 80px 100px 250px #000000, inset -80px -100px 250px #000000;
}

.header-top {
  position: relative;
  height: 90px;
  margin: auto;
  z-index: 1;
}

.header-bottom {
  display: inline-block;
  width: 100%;
}

.header-bottom-content {
  width: 50%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7rem;
  z-index: 2;
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 2;
}

#content-margin {
  margin-top: 50px;
}

/*header section specific classes*/
.header-top img {
  width: 190px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
}

.header-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.header-bottom-content h1 {
  max-width: 700px;
}

.header-bottom-content p {
  margin-top: 15px;
}

.header-bottom-content input {
  outline: none;
  font: inherit;
}

.get-started input {
  width: 600px;
  height: 60px;
  padding: 10px;
  border-radius: 0.1rem;
  border: none;
  outline: none;
}

.get-started button {
  font-size: 20px;
  width: 170px;
  padding: 0 1rem;
}

.get-started button:hover {
  background-color: #f40612;
}
/*header ends here*/

/*main-section*/

/*main-section common classes*/
.card-display {
  max-width: 100%;
  display: flex;
  padding: 45px 157px;
  border-bottom: 8px solid #222;
}

.card-display-sub-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
}

.card-display-text-1 {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 20px;
}

.card-display-text-1 h1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.card-display-text-1 h2 {
  margin-top: 19.5px;
  margin-bottom: 6.5px;
}

.card-img-1 img {
  width: 528px;
  height: 390px;
}

.card-display-sub-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.card-display-text-2 {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 20px;
  margin-right: 50px;
}

.card-display-text-2 h1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.card-display-text-2 h2 {
  margin-top: 19.5px;
  margin-bottom: 6.5px;
}

.card-img-2 img {
  width: 505px;
  height: 379px;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.faq {
  display: inline-block;
  width: 100%;
  border-bottom: 8px solid #222;
}

.faq-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.faq-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.bottom-margin {
  margin-bottom: 8px;
}

.top-margin {
  margin-top: 2px;
}

/*mid-section specific classes*/
.card-3-text {
  max-width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 20px;
}

.faq-middle ul {
  width: 60%;
}

.faq-middle button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 57px 20px 30px;
  background-color: #303030;
  color: white;
}

.faq-display li {
  list-style: none;
}

/*main-section ends here*/

/*footer section*/

/*footer section common classes*/
.footer-content {
  display: inline-block;
  width: 100%;
  /* background-color: red; */
}

.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px 250px;
  /* background-color: lightblue; */
}

.footer {
  color: #757575;
}

.footer a {
  text-decoration: none;
  color: #757575;
}

.footer a:hover {
  text-decoration: underline;
}

.list-content {
  text-align: left;
  background-color: #303030;
  color: #fff;
  font-size: 26px;
  padding: 20px 57px 20px 30px;
  margin-bottom: 8px;
}

/*footer section specific classes*/
.quick-links-top {
  text-align: left;
  padding-left: 60px;
}

.quick-links-top p {
  font-size: 16px;
  margin-bottom: 30px;
}

.quick-links-middle {
  padding-left: 25px;
}

.quick-links-middle ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  font-size: 13px;
}

.quick-links-middle li {
  text-align: left;
  margin-bottom: 8px;
}

.quick-links-bottom {
  padding-left: 60px;
  text-align: left;
}

.quick-links-bottom p {
  font-size: 13px;
}

.get-started-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.get-started-bottom input {
  width: 600px;
  height: 60px;
  padding: 10px;
  border-radius: 0.1rem;
  border: none;
}

.get-started-bottom button {
  font-size: 20px;
  width: 170px;
  padding: 0 1rem;
}

.get-started-bottom button:hover {
  background-color: #f40612;
}

#li-1-content,
#li-2-content,
#li-3-content,
#li-4-content,
#li-5-content,
#li-6-content {
  display: none;
}

.show-content {
  display: block;
}

/*footer section specific classes ends here*/

/* video and tv here */

/* img {
  width: 100%;
} */

/* .card-1-img {
  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.card-1-img video {
  position: relative;
  width: 100%;
  height: 54%;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index: -1;
}

.card-1-img img {
  grid-column: 2/2;
  grid-row: 1/2;
} */

/* .card-img-1 img {
  position: absolute;
}

.card-img-1 video {
  position: relative;
  z-index: -1;
}

.card-img-1 {
  margin-bottom: 10rem;
} */

/* mobile version */

@media only screen and (max-width: 450px) {
  .header {
    height: 60vh;
  }

  .header::after {
    box-shadow: inset 1px 2px 40px #000000, inset -1px -2px 40px #000000;
    /* box-shadow: inset 80px 100px 250px #000000, inset -80px -100px 250px #000000; */
  }

  .header-top img {
    width: 114px;
    height: 72px;
    left: 65px;
  }

  .btn {
    padding: 4px 8px;
  }

  .header-bottom-content {
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7rem;
    z-index: 2;
  }

  .header-bottom-content h1 {
    margin-top: -60px;
    width: 95%;
    font-size: 28px;
  }

  .font-16 {
    font-size: 18px;
    font-weight: 500;
  }

  .font-18 {
    font-size: 18px;
    width: 75%;
    font-weight: 500;
  }

  .get-started {
    display: block;
    width: 100%;
  }

  .get-started input {
    width: 90%;
    height: 48px;
  }

  .get-started button {
    font-size: 16px;
    margin-top: 10px;
    height: 40px;
    width: 40%;
    border-radius: 3px;
  }

  .card-display {
    max-width: 100%;
    display: flex;
    padding: 50px 0 50px 0;
    border-bottom: 8px solid #222;
  }

  .card-display-sub-1 {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
  }

  .card-display-text-1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }

  .card-display-text-1 h1 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .card-display-text-1 h2 {
    margin-top: 19.5px;
    margin-bottom: 6.5px;
  }

  .font-large {
    font-size: 28px;
  }

  .font-medium {
    font-size: 18px;
    width: 100%;
  }

  .card-img-1 {
    display: block;
    text-align: center;
  }

  .card-img-1 img {
    width: 373px;
    height: 280px;
  }

  .card-display-sub-2 {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
  }

  .card-display-text-2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }

  .card-display-text-2 h1 {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .card-display-text-2 h2 {
    margin-top: 19.5px;
    margin-bottom: 6.5px;
  }

  .card-img-2 img {
    width: 373px;
    height: 280px;
  }

  .faq-display {
    margin: 0;
  }

  .faq-top {
    margin-top: 25px;
  }

  .faq-middle {
    margin-top: -10px;
    display: block;
    width: 100%;
  }

  .faq-bottom {
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .faq-bottom-content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
  }

  #content-margin {
    margin-top: 10px;
  }

  .faq-bottom-content p {
    width: 80%;
    text-align: center;
  }

  .faq-middle ul {
    width: 100%;
    padding: 0;
  }

  .faq-middle button {
    padding: 20px 20px 20px 20px;
  }

  .list-content {
    font-size: 18px;
    padding: 20px 20px 20px 20px;
  }

  .get-started-bottom {
    display: block;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .get-started-bottom input {
    width: 90%;
    height: 48px;
    padding: 10px;
  }

  .get-started-bottom button {
    font-size: 16px;
    margin-top: 10px;
    height: 40px;
    width: 40%;
    border-radius: 3px;
  }

  .footer-content {
    margin-top: 50px;
    display: block;
    width: 100%;
    /* background-color: red; */
  }

  .quick-links {
    margin: 0;
  }

  .quick-links-top {
    padding-left: 40px;
  }

  .quick-links-middle {
    padding-left: 40px;
  }

  .quick-links-middle ul {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }

  .quick-links-middle li {
    margin-bottom: 20px;
  }

  .quick-links-bottom {
    padding-left: 40px;
    margin-bottom: 20px;
  }
}
