:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: "Netflix sans", "Arial", sans-serif;
}

/*fonts*/
.font-large {
  font-size: 48px;
}

.font-medium {
  font-size: 26px;
  font-weight: normal;
}

.font-small {
  font-size: 16px;
}

.class-bold {
  font-weight: bold;
}

/*mid-section common classes*/
.card-display {
  max-width: 100%;
  display: flex;
  padding: 45px 157px;
  border-bottom: 8px solid #222;
}

.card-display-sub-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
}

.card-display-text-1 {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 20px;
}

.card-display-text-1 h1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.card-display-text-1 h2 {
  margin-top: 19.5px;
  margin-bottom: 6.5px;
}

.card-img-1 img {
  width: 528px;
  height: 390px;
}

.card-display-sub-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  /* margin-left: 45px;
  margin-right: 45px; */
}

.card-display-text-2 {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 20px;
  margin-right: 50px;
}

.card-display-text-2 h1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.card-display-text-2 h2 {
  margin-top: 19.5px;
  margin-bottom: 6.5px;
}

.card-img-2 img {
  width: 505px;
  height: 379px;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.faq {
  display: inline-block;
  width: 100%;
  border-bottom: 8px solid #222;
}

.faq-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.faq-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* common classes ends here */

/*mid-section specific classes*/
.card-3-text {
  max-width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 20px;
}

.faq-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-middle ul {
  width: 60%;
}

.faq-middle button {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 20px 57px 20px 30px;
  background-color: #303030;
  color: white;
}

.faq-display li {
  list-style: none;
}

/*mid-section specific classes ends here*/

/*footer section common classes*/

.footer-content {
  display: inline-block;
  width: 100%;
  /* background-color: red; */
}

.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px 250px;
  /* background-color: lightblue; */
}

.footer {
  color: #757575;
}

.footer a {
  text-decoration: none;
  color: #757575;
}

.footer a:hover {
  text-decoration: underline;
}
/*footer section common classes ends here*/

/*footer section specific classes*/
.quick-links-top {
  text-align: left;
  padding-left: 60px;
}

.quick-links-top p {
  font-size: 16px;
  margin-bottom: 30px;
}

.quick-links-middle {
  padding-left: 25px;
}

.quick-links-middle ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  font-size: 13px;
}

.quick-links-middle li {
  text-align: left;
  margin-bottom: 15px;
}

.quick-links-bottom {
  padding-left: 60px;
  text-align: left;
}

.quick-links-bottom p {
  font-size: 13px;
}

/*footer section specific classes ends here*/

/* old css */

.f-x-l {
  font-size: 65px;
  color: #fff;
}

.f-l {
  font-size: 52px;
  color: #fff;
}

.f-m {
  font-size: 25px;
  color: #fff;
}

.f-mid-m {
  font-size: 26px;
  font-weight: 300px;
  color: #fff;
}

.f-s {
  font-size: 20px;
  color: #fff;
}

.f-align {
  text-align: left;
}

.f-pad {
  margin-bottom: 1rem;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/main-background.jpg") no-repeat center center/cover;
  border-bottom: 8px solid rgb(41, 40, 40);
  /* rgba(34,34,34,255) */
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 80px 100px 250px #000000, inset -80px -100px 250px #000000;
}

.header-top {
  position: relative;
  height: 90px;
  margin: auto;
  z-index: 1;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.btn-icon {
  margin-left: 0.5rem;
}

.btn-xl {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: 0.1rem;
  padding: 0 0.5rem;
  height: 60px;
  /* font-size: 20px; */
}

.header-top img {
  width: 190px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
}

.header-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 1;
}

.content h1 {
  max-width: 700px;
}

.content p {
  margin-top: 15px;
}

.content input {
  outline: none;
  font: inherit;
}

#content-margin {
  margin-top: 30px;
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 2;
}

.get-started input {
  width: 600px;
  height: 60px;
  padding: 10px;
  border-radius: 0.1rem;
  border: none;
}

.get-started button {
  font-size: 20px;
  width: 170px;
  padding: 0 1rem;
}

.get-started button:hover {
  background-color: #f40612;
}

/* Mid-Section */

.mid-section {
  /* padding: 3rem 0; */
  background: #000;
  color: #fff;
}

/* mid-1 css */
.mid-content-1 {
  border-bottom: 8px solid rgb(41, 40, 40);
}

.mid-content-1 .mid-1-content {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  /* padding: 3rem 2rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* mid-2 css */
.mid-2-container {
  display: inline-block;
  /* border: 2px solid red;
  background-color: #000000; */
}

.stranger-things {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: #000000;
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.stranger-things-text {
  list-style: none;
  padding: 15px;
}

#bold-text {
  font-weight: bold;
}

#blue-text {
  margin-top: 5px;
  color: #0071eb;
  font-size: 14.4px;
}

.stranger-things-image {
  height: 72px;
  width: 51px;
}

.stranger-things-gif {
  height: 48px;
  width: 48px;
}

/* mid-3 css */
.mid-content-3 {
  border-bottom: 8px solid rgb(41, 40, 40);
}

.mid-content-3 .mid-3-content {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  /* padding: 3rem 2rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* mid-4 css */
.mid-content-4 {
  border-bottom: 8px solid rgb(41, 40, 40);
}

.mid-4-content {
  padding: 1rem 2rem 2rem 2rem;
}

.mid-content-4 .mid-4-content {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  /* padding: 3rem 2rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*messing with classes*/
.display-class {
  border-bottom: 8px solid rgb(41, 40, 40);
}

.display-sub-class {
  padding: 1rem 2rem 2rem 2rem;
}

.display-class .display-sub-class {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  /* padding: 3rem 2rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*messing ends here*/

/* .mid-section-5 {
  text-align: center;
  } */

.mid-section-5 h1 {
  text-align: center;
  padding: 80px;
}

.links {
  text-align: center;
}

.links ul {
  list-style: none;
}

.links button {
  text-align: left;
  padding: 5px 5px 5px 20px;
  width: 50%;
}

/* .color-white {
    color: #fff;
  } */

.content-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

/* video and tv here */

/* img {
    width: 100%;
  }
  
  .card-0,
  .card-1,
  .card-2,
  .card-3 {
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
  }
  
  .card-1-img {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
  }
  
  .desc-1 {
    padding-left: 80px;
  }
  
  .style-cards h1 {
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
  }
  
  .style-cards h3 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  .card-1-img video {
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
  }
  
  .card-1-img img {
    grid-column: 2/2;
    grid-row: 1/2;
  } */

/* new middle part here */

/* .card-display {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background-color: #000;
  }
  
  .card-display-sub {
    max-width: 80%;
  } */

/*new code from here*/

/*fonts*/

.font-xl {
  font-size: 50px;
  margin-bottom: 20px;
}

.font-m {
  font-size: 26px;
}

.font-bold {
  font-weight: bold;
}

.main-section {
  display: block;
  background-color: #000;
}

/* .card-display .card-display-sub {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 1rem 2rem 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: left;
  } */

.bottom-border {
  border-bottom: 8px solid rgb(41, 40, 40);
}

.new-class {
  display: flex;
  justify-content: center;
  padding: 70px 45px;
}

.new-sub-class {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
